    .body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #141212;
    }

    .calculator {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 12px;
      max-width: 300px;
      background-color: rgb(70, 67, 67);
      margin: auto;
      padding: 15px;
      border: 1px solid #ea0d0d;
      border-radius: 25px;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    }

    .button {
      padding: 20px;
      font-size: 20px;
      color: whitesmoke;
      text-align: center;
      cursor: pointer;
      border: 1px solid #716c6c;
      border-radius: 25px;
      background-color: #1e1c1c;
    }

    .button:hover {
      background-color: #e0e0e0;
      color: black;
    }

    #display {
      grid-column: span 4;
      padding: 15px;
      text-align: right;
      background-color: #716c6c;
      font-size: 25px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 8px;
    }
  